* {
    margin: 0;
    padding: 0;
}

.html {
    background-color: black;
}

.body {
    width: 100%;
    height: 600px;
}

:root {
    --background-color-trans: transparent;
    --background-color-white: white;
    --background-color-black: black;
    --color: white;
}

.container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* TABULEIRO */

.table-3x3 {
    /* height: 345px; */
    width: 348px;
    background-color: var(--background-color-black);
    border: 2px var(--background-color-white) solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-4x4 {
    /* height: 471px; */
    width: 464px;
    background-color: var(--background-color-black);
    border: 2px var(--background-color-white) solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-5x5 {
    /* height: 790px; */
    width: 580px;
    background-color: var(--background-color-black);
    border: 2px var(--background-color-white) solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.table-6x6 {
    /* height: 400px; */
    width: 696px;
    background-color: var(--background-color-black);
    border: 2px var(--background-color-white) solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* QUADRADOS */

.quadrado {
    width: 110px;
    height: 110px;
    background-color: var(--background-color-trans);
    text-align: center;
    font-size: 5rem;
    border: 3px var(--background-color-white) solid;
    color: var(--color);
    cursor: pointer;
}

.quadrado0 {
    width: 110px;
    height: 110px;
    background-color: var(--background-color-trans);
    text-align: center;
    font-size: 5rem;
    border: 3px var(--background-color-white) solid;
    color: var(--color);
    cursor: pointer;
}


/* BOTÕES */

.quadrado button {
    height: auto;
    width: auto;
    font-size: 8rem;
}

.quadrado0 button {
    height: auto;
    width: auto;
    font-size: 8rem;
    background-color: var(--background-color-trans);
    border-color: transparent;
}


button {
    height: 40px;
    width: 90px;
    border: 2px black solid;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.jogar {
    height: 40px;
    border-radius: 1rem;
    padding: 25px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: rgb(138, 65, 34);
}

.menu-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-botao button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 15px;
}

.menu h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 30px;
}

.botoes {
    margin-top: 1.5rem;
}